<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afaddons1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b20458c4-0779-4a7e-b643-3e64e619d176/resourcegroups/af_prototype/providers/Microsoft.Web/sites/AFAddons1</ResourceId>
    <UserName>$AFAddons1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://afaddons1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>